
@{
    ViewBag.Title = "ProductMan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<OnlineShop.Models.ClientModel.ProductModel>



<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Thời Trang<span>Nam  </span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="/">Trang Chủ</a><i>|</i></li>
                    <li>Thời Trang Nam</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- mens -->
        @{Html.RenderAction("Categories", "ProductsClient", new {id=1});}
        <div class="col-md-8 products-right">
            @{Html.RenderAction("Sort", "ProductsClient");}
            <div class="men-wear-top">

                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <img class="img-responsive" src="/Assets/images/banner2.jpg" alt=" " />
                        </li>
                        <li>
                            <img class="img-responsive" src="/Assets/images/banner5.jpg" alt=" " />
                        </li>
                        <li>
                            <img class="img-responsive" src="/Assets/images/banner2.jpg" alt=" " />
                        </li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

            <!--Phần sản phẩm-->

            @foreach (var item in Model)
            {
                <div class="col-md-4 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">


                            @{ if (item.ProductImages.Count > 1)
                                {
                                    <img style="height:270px;" src="@item.ProductImages[0]" alt="" class="pro-image-front">
                                    <img style="height:270px;" src="@item.ProductImages[1]" alt="" class="pro-image-back">
                                }
                                else
                                {
                                    <img style="height:270px;" src="@item.ProductImages[0]" alt="" class="pro-image-front">
                                    <img style="height:270px;" src="@item.ProductImages[0]" alt="" class="pro-image-back">
                                }
                            }
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/chi-tiet-san-pham-@item.ProductID" class="link-product-add-cart">Xem Chi tiết</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="/chi-tiet-san-pham-@item.ProductID">@item.ProductName</a></h4>
                            <div class="info-product-price">
                                @if (item.ProductSale != 0)
                                {
                                    <span class="item_price">@{ var PriveAfterSale = item.ProductPrice * (1 - item.ProductSale / 100);} @PriveAfterSale.ToString("N0") VND</span>
                                    <del>@item.ProductPrice.ToString("N0") VND</del>
                                }
                                else
                                {
                                    <span class="item_price">@item.ProductPrice.ToString("N0") VND</span>
                                }

                            </div>
                            <div>
                                <a href="#" class="btn btn-success btnAddCart" data-id="@item.ProductID" data-name="@item.ProductName" data-quantity="1">Thêm vào giỏ hàng</a>
                            </div>


                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>

        <!-- Hết Phần sản phẩm-->
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    @{Html.RenderAction("NewProducts", "ProductsClient"); }

</div>

